input {
    font: inherit;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 5px;
    background: #f7f7f7;
    color: #444444;
}

.input-nums {
    width: 50px;
}

.cp {
    cursor: pointer;
}

.selected-col {
    background: #ededed;
}

#matrix-btn-control > button:disabled {
    cursor: not-allowed!important;
}